<!-- Start Navbar -->
<nav id="topnav" class="defaultscroll is-sticky">
  <div class="container relative">
    <!-- Logo container-->
    <a class="logo" href="index.html">
      <span class="inline-block dark:hidden">
        <img
          src="assets/images/logo-dark-sm.png"
          class="l-dark"
          height="24"
          alt=""
        />
        <img
          src="assets/images/logo-light-sm.png"
          class="l-light"
          height="24"
          alt=""
        />
      </span>
      <img
        src="assets/images/logo-light-sm.png"
        height="24"
        class="hidden dark:inline-block"
        alt=""
      />
    </a>

    <!-- End Logo container-->
    <div class="menu-extras">
      <div class="menu-item">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </div>
    </div>

    <ul class="github-button list-none mb-0">
      <li class="inline ps-1 mb-0">
        <a
          href="https://github.com/typestreamio/typestream"
          target="_blank"
          class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle transition duration-300 ease-in-out text-base text-center rounded-full bg-typestream-accent hover:bg-indigo-700 border border-indigo-600 hover:border-indigo-700 text-black hover:text-white"
          ><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg
        ></a>
      </li>
    </ul>

    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu nav-light">
        <li><a href="index.html" class="sub-menu-item">Home</a></li>
        <li>
          <a href="integrations.html" class="sub-menu-item">Integrations</a>
        </li>
        <li><a href="consulting.html" class="sub-menu-item">Consulting</a></li>
        <li><a href="about.html" class="sub-menu-item">About Us</a></li>
      </ul>
      <!--end navigation menu-->
    </div>
    <!--end navigation-->
  </div>
  <!--end container-->
</nav>
<!--end header-->
<!-- End Navbar -->
