<!-- Start Navbar -->
<nav id="topnav" class="defaultscroll is-sticky">
  <div class="container relative">
    <!-- Logo container-->
    <a class="logo" href="index.html">
      <span class="inline-block dark:hidden">
        <img
          src="assets/images/logo-dark-sm.png"
          class="l-dark"
          height="24"
          alt=""
        />
        <img
          src="assets/images/logo-light-sm.png"
          class="l-light"
          height="24"
          alt=""
        />
      </span>
      <img
        src="assets/images/logo-light-sm.png"
        height="24"
        class="hidden dark:inline-block"
        alt=""
      />
    </a>

    <!-- End Logo container-->
    <div class="menu-extras">
      <div class="menu-item">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </div>
    </div>

    <ul class="github-button list-none mb-0">
      <li class="inline ps-1 mb-0">
        <a
          href="https://github.com/typestreamio/typestream"
          target="_blank"
          class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle transition duration-300 ease-in-out text-base text-center rounded-full bg-typestream-accent hover:bg-indigo-700 border border-indigo-600 hover:border-indigo-700 text-black hover:text-white"
          ><i data-feather="github" class="h-4 w-4"></i
        ></a>
      </li>
    </ul>

    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu nav-light">
        <li><a href="index.html" class="sub-menu-item">Home</a></li>
        <li>
          <a href="integrations.html" class="sub-menu-item">Integrations</a>
        </li>
        <li><a href="consulting.html" class="sub-menu-item">Consulting</a></li>
        <li><a href="about.html" class="sub-menu-item">About Us</a></li>
      </ul>
      <!--end navigation menu-->
    </div>
    <!--end navigation-->
  </div>
  <!--end container-->
</nav>
<!--end header-->
<!-- End Navbar -->
