<footer class="footer bg-dark-footer relative text-gray-200 dark:text-gray-200">
  <div class="container relative py-[60px] px-0 pl-10">
    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
      <div class="lg:col-span-5 md:col-span-12">
        <a href="#" class="text-[22px] focus:outline-none">
          <img src="assets/images/logo-light.png" alt="" />
        </a>
        <p class="mt-6 text-gray-300"></p>
        <ul class="list-none mt-6">
          <li class="inline">
            <a
              href="https://www.linkedin.com/company/typestream"
              target="_blank"
              class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle transition duration-500 ease-in-out text-base text-center border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"
              ><i class="uil uil-linkedin" title="Linkedin"></i
            ></a>
          </li>
          <li class="inline">
            <a
              rel="me"
              href="https://data-folks.masto.host/@typestream"
              target="_blank"
              class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle transition duration-500 ease-in-out text-base text-center border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"
              ><i class="uil uil-twitter align-middle" title="mastodon"></i
            ></a>
          </li>
          <li class="inline">
            <a
              href="https://github.com/typestreamio"
              target="_blank"
              class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle transition duration-500 ease-in-out text-base text-center border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"
              ><i class="uil uil-github align-middle" title="github"></i
            ></a>
          </li>
        </ul>
      </div>

      <div class="lg:col-span-7 md:col-span-12">
        <h5 class="tracking-[1px] text-gray-100 font-semibold">Sitemap</h5>
        <ul class="list-none footer-list mt-6">
          <li>
            <a
              href="about.html"
              class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"
              ><i class="uil uil-angle-right-b"></i>About us</a
            >
          </li>
          <li>
            <a
              href="terms.html"
              class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"
              ><i class="uil uil-angle-right-b"></i>Terms of Service</a
            >
          </li>
          <li>
            <a
              href="https://docs.typestream.io"
              class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"
              ><i class="uil uil-angle-right-b"></i> Documentation</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="py-[30px] px-0 border-t border-slate-800">
    <div class="container relative text-center pl-10">
      <div class="grid md:grid-cols-2 items-center gap-[30px]">
        <div class="md:text-start text-center">
          <p class="mb-0">© {{currentYear}} TypeStream.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
