name: cli-lint

on:
  push:
    branches: [main]
    paths:
      - 'cli/**'
      - 'protos/**'
      - 'flake.nix'
      - 'flake.lock'
      - '.github/workflows/cli-lint.yml'
  pull_request:
    paths:
      - 'cli/**'
      - 'protos/**'
      - 'flake.nix'
      - 'flake.lock'
      - '.github/workflows/cli-lint.yml'

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
        with:
          flakehub: false

      - name: Setup Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
        with:
          use-flakehub: false

      - name: golangci-lint
        working-directory: cli
        run: nix develop --command golangci-lint run
